<h1>New Restaurant</h1>
<div class="conteiner">
  <%= render 'form', restaurant: @restaurant %>
</div>
<div class="conteiner">
  <%= link_to 'Back', restaurants_path, class: "btn outline-secondary" %>
</div>
